* {
    background-color: #404040;
    color: #fff;
}
.footer {
    width: 100%;
    bottom: 00%;
    margin: 1em;
    position: fixed;
}
.container-fl {
    margin: 1em;
}
#pdf-viewer {
    height: 90%;
    width: 80%;
    position: fixed;
}
#select-file {
    margin: 0.5em;
    margin-left: 0em;
}